@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background: linear-gradient(270deg, rgba(255, 214, 10,0.8) 70%, rgba(0,0,255,0.6)); ;
    
    font-family: 'Courgette', cursive;
    /* color: rgb(255, 190, 11, 0.7); */
    
}
.heading{
    /* background-color: rgb(255, 214, 10); */
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}
.sub-heading{
    /* background-color:yellow; */
    text-align: center;
    padding: 1rem;
}
main{
    /* background-color: blue; */
 
    max-width: 50vw;
    margin:auto;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#input-text{
    /* background-color: tomato; */
    width:70%;
    height: 20vh;
    padding: 1rem;
    font-size: 1rem;
    margin: 3rem 0 2rem 0;
    border-radius: 10px;
    border: 2px solid rgb(0, 53, 102);
    /* background-color: transparent; */
}
#btn-translate{
    background-color: rgb(0, 53, 102);
    color: white;
    
    padding: 1rem;
    font-size: 1.2rem;
    /* width: 30%; */
    border-radius: 10px;
    margin-right: 2rem;
    margin-bottom: 1rem;
    outline: none;
    border:none
}
.main-content p{
    font-weight: bold;
}

#output-text{
    background-color: #FFFFFF80;
    width:70%;
    height: 20vh;
    padding: 1rem;
   margin: 2rem 0 2rem 0;
    border-radius: 10px;
    border: 2px solid rgb(0, 53, 102);
}
